@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-letras: #ffffff;
    --cor-fundo: #3d221f;
    --cor-fundo2: #1f1517;
    --cor-novo: #764339;
    -cor-em-alta: #b38212;
    --cor-caixas-baixo: #241a1c;
    --cor-caixa-cima: #181012;
    --cor-botão: #a45a49;

}

body{
    background-color: var(--cor-fundo2);
    color: var(--cor-letras);
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


