<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <link rel="{{url_for('static', filename= 'css/responsiveness.css')}}">
    <meta name="description" content="Explore dezenas de variações das bebidas favoritas entres os devs ao redor do mundo">
</head>
<body>
    <header>
        <nav>
            <span class="logo">ballecoffe</span>

            <ul class="menu">
                <li><a>Home</a></li>
                <li><a>Receitas</a></li>
                <li><a>Novidades</a></li>
                <li><a>Melhor avaliadas</a></li>
            </ul>
            <a class="github">GitHub</a>
             
        </nav>
    </header>
    <main>
        <div class="principal">
            <section class="hero">
                
                <header class="hero-conteudo">
                    <span class="destaque marron">novidade</span>
                    <h1>Enconte a receita perfeita!</h1>
                    <hr>
                    <h2 class="hero-subtitulo">Explore dezenas de variações das bebidas favoritas entres os devs ao redor do mundo</h2>
                </header>
                <div class="hero-imagens-container">
                    <ficture><img src="assets/imagem-01.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-02.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-03.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-04.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-05.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-06.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-07.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-08.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-09.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-10.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-11.png" alt=""></ficture>
                    <ficture><img src="assets/imagem-12.png" alt=""></ficture>
                </div>
            </section>
    </div>

        <section class="botao-container">
            <button type="button" id="botao"><img src="assets/Button.svg" alt="botão"></button>
        </section>

        <section class="receitas">

            <header class="recitas-cabecalho">
                <span class="destaque marron">receitas</span>
                <h2 class="receitas-titulo">Confira as últimas receitas</h2>
                <p class="receitas-subtitulo">Dê uma olhada nas receitas mais amadas!</p>
            </header>
            

            <div class="receitas-card-container">
                <div class="receitas-card">
                   
                        <header class="receitas-card-cabecalho">
                            <div class="receitas-card-cabecalho-detalhes">
                                <span class="destaque amarelo">em alta</span>
                                <h3 class="receita-titulo">Cappuccino ☕</h3>
                            </div>
                            <p class="receita-avaliacao">Bom . 4/4</p>
                        </header>

                        <p class="receita-descricao">Uma bebida ideal para os amantes de doce e cremosidade, 😍</p>
                        <div class="receita-autor">
                            <img src="" alt="">
                            <span class="receita-autor-nome"> Rafaella Ballerini</span>
                        </div>

                        <header class="receitas-card-cabecalho">
                            <div class="receitas-card-cabecalho-detalhes">
                                <span class="destaque amarelo">novo</span>
                                <h3 class="receita-titulo">Expresso </h3>
                            </div>
                            <p class="receita-avaliacao">Extraordinario . 4/4</p>
                        </header>

                        <p class="receita-descricao">Uma bebida ideal para os amantes de doce e cremosidade.</p>
                        <div class="receita-autor">
                            <img src="" alt="">
                            <span class="receita-autor-nome"> Rafaella Ballerini</span>
                        </div>

                        <header class="receitas-card-cabecalho">
                            <div class="receitas-card-cabecalho-detalhes">
                                <span class="destaque amarelo">novo</span>
                                <h3 class="receita-titulo">Expresso ☕</h3>
                            </div>
                            <p class="receita-avaliacao">Extraordinario . 3/4</p>
                        </header>

                        <p class="receita-descricao">Para quem gosta de um café amargo.</p>
                        <div class="receita-autor">
                            <img src="" alt="">
                            <span class="receita-autor-nome"> Rafaella Ballerini</span>
                        </div>

                        <header class="receitas-card-cabecalho">
                            <div class="receitas-card-cabecalho-detalhes">
                                <span class="destaque amarelo">novo</span>
                                <h3 class="receita-titulo">Expresso ☕</h3>
                            </div>
                            <p class="receita-avaliacao">Extraordinario . 4/4</p>
                        </header>

                        <p class="receita-descricao">Uma bebida ideal para os amantes de doce e cremosidade. </p>
                        <div class="receita-autor">
                            <img src="" alt="">
                            <span class="receita-autor-nome"> Rafaella Ballerini</span>
                        </div>
     
                </div>
            </div>

            

            <p class='carregar'>Carregar mais receitas...</p>

        </section>
    </main>
    <footer>
        <p class="footer-copy">Coppyright CODEFEE  2024</p>
        <p class="footer-autor">Feito com muito🩶, é café por Rayssa Vicente</p>
    </footer>

    <script src="{{url_for('static', filename= 'js/cru.js')}}"></script>
</body>
</html>