<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>receitas</title>
</head>
<body>
    <header>
        <nav>
            <span class="logo">ballecoffe</span>

            <ul class="menu">
                <li><a>Home</a></li>
                <li><a>Receitas</a></li>
                <li><a>Novidades</a></li>
                <li><a>Melhor avaliadas</a></li>
            </ul>
            <a class="github">GitHub</a>
             
        </nav>
    </header>
    <main>
        <div>
            <h1>Receitas</h1>
            <h2>Avalie uma cafeteria e o seu café favorito dela.</h2>
            <form>
                <div>
                    <label for="Estabelecimento">Nome do Estabelecimento: </label>
                    <input type="text" id="Estabelecimento">
                </div>
                <div>
                    <label for="bebida">Nome da bebida: </label>
                    <input type="text" id="bebida">
                </div>
                <div>
                    <label for="comentario">comentário: </label>
                    <textarea name="" id="comentario"></textarea>
                
                <div>
                    <form action=""></form>
                    <label form="Avalie o Estabelecimento"></label>
                    <select name="avaliação" required="required">
                    <option value="">Escolha uma opção</option>
                    <option value="Extraordinario.4/4">Extraordinario.⭐⭐⭐⭐</option>
                    <option value="bom.3/4">Bom.⭐⭐⭐</option>
                    <option value="ruim.2/4">Ruim.⭐⭐</option>
                    <option value="pessimo.1/4">Péssimo.⭐</option>
                </select>
                </div>
            </form>
            </div>
                <div class="button">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </main>
    

</body>
</html>